{
  "presets": [
    "@vue/app"
  ],
  "plugins": [
    [
      "component",
      {
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}
